.banner {
    margin-top: 300px;
}

.banner_text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.banner_logo {
    text-align: center;
}

.banner_title {
    font-size: 54px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner_btn {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 1100px) {
    .banner_title {
        font-size: 34px;
        text-align: center;
        margin-top: 250px;
    }
}