.info_canvas {
  position: relative;
}

.info_logo {
  position             : absolute;
  background-image     : url(../../img/foto.png);
  background-position-x: 30%;
  background-repeat    : no-repeat;
  width                : 900px;
  height               : 610px;
  left                 : -150px;
  top                  : -50px;
  z-index              : 99;
}

.info_block {
  width     : 1000px;
  margin-top: 100px;
}

#canvas {
  position: absolute;
  width   : 900px;
  height  : 610px;
  z-index : 1;
  margin  : 40px;
  right   : -450px;
  top     : -90px;
}

.info_block_name {
  font-size  : 80px;
  font-weight: 900;
  color      : rgb(31, 31, 36);
  padding-top: 100px;
}

.info_block_title {
  margin-bottom: 45px;
  font-size    : 25px;
}

@media (max-width: 1200px) {

  .info_block_name {
    font-size  : 50px;
    font-weight: 900;
    padding-top: 100px;
  }

}

@media (max-width: 1000px) {
  .info_block_name {
    font-size: 30px;
  }

  #canvas {
    right: -650px;
    top  : -90px;
  }

}

@media (max-width: 600px) {
  .info_block {
    margin-top   : 10px;
    margin-bottom: 20px;
    padding-left : 100px;
  }

  #canvas {
    right: -400px;
    top  : -90px;
  }
}